<ion-header>
  <ion-toolbar>
    <ion-title>Filmes login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="_formLogar" (ngSubmit)='submitForm()' novalidate>
      <ion-item>
        <ion-label position="floating">
          Email
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Senha
      </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
      <ion-button expand="full" color="success" type="submit">
        Entrar
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-item></ion-item>
      <ion-button expand="full" color="danger" (click)="_signInGoogle()">
        Entrar com Google
        <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
      <ion-button expand="full" color="primary" (click)="_signInFacebook()">
        Entrar com Facebook
        <ion-icon slot="end" name="logo-facebook"></ion-icon>
      </ion-button>
    </form>
    <center>
    <a (click)="_irParaSignUp()" color="green">Nao tem cadastro? Clique Aqui!</a>
  </center>
  </ion-list>

</ion-content>
